@{
	ViewBag.NavActive = "Home";

    ViewData["Title"] = "Home Page";
}

<div class="row wrapper border-bottom white-bg page-heading p-0 shadow">
    <img alt="image" class="img-fluid logo-black p-0" src="~/img/banner-black.png">
    <img alt="image" class="img-fluid logo-white p-0" src="~/img/banner-white.png">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
