<div id="main-footer" class="footer bg-light border-top pt-4 px-4">
    <div class="container-fluid">
        @if (ViewBag.NavActive != "Dashboard") 
        {

            <div class="row text-center text-md-start">

                <div class="col-12 col-md-3 mb-4 text-center text-md-start">
                    <div class="d-inline-block d-md-block">
                        <img src="/img/logo-black.png" alt="Evenda Logo" class="img-fluid logo-black mb-2" style="max-width: 180px;">
                        <img src="/img/logo-white.png" alt="Evenda Logo" class="img-fluid logo-white mb-2" style="max-width: 180px;">
                    </div>
                    <div class="text-muted small">Empowering Events &amp; Experiences</div>
                </div>

                <div class="col-6 col-md-2 mb-4">
                    <h4 class="text-uppercase">About</h4>
                    <ul class="list-unstyled small">
                        <li><a href="/about" class="active">Who we are</a></li>
                        <li><a href="/overview" class="active">Platform Overview</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-4">
                    <h4 class="text-uppercase">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="mailto:support@evenda.com" class="active">support@evenda.com</a></li>
                        <li class="text-muted">+20 xxx xxx xxxx</li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-4">
                    <h4 class="text-uppercase">Newsletter</h4>
                    <form class="d-flex flex-column flex-sm-row gap-2">
                        <div class="input-group">
                            <div class="input-group-text gray-bg">@@</div>
                            <input type="email" class="form-control" placeholder="Your email" />
                            <button type="button" class="btn btn-primary">Go!</button>
                        </div>
                    </form>
                </div>

                <div class="col-12 col-md-2 text-md-end mb-4">
                    <h4 class="text-uppercase">Follow Us</h4>
                    <div class="row">
                        <div class="col-4 col-md-12 text-end pe-md-3">
                            <a href="#" class="text-muted me-2 font-lg"><i class="fa-brands fa-facebook"></i></a>
                        </div><div class="col-2 col-md-12 pe-md-3">
                            <a href="#" class="text-muted me-2 font-lg"><i class="fa-brands fa-twitter"></i></a>
                        </div><div class="col-2 col-md-12 pe-md-3">
                            <a href="#" class="text-muted me-2 font-lg"><i class="fa-brands fa-instagram"></i></a>
                        </div><div class="col-4 col-md-12 text-start text-md-end pe-md-3">
                            <a href="#" class="text-muted me-2 font-lg"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-3" />

        }
        <div class="text-center small text-muted pb-2">
            &copy; SICT @DateTime.Now.Year — All rights reserved.
        </div>
    </div>
</div>