<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>@ViewData["Title"] - Evenda</title>

	<link href="~/lib/virtual-select/css/virtual-select.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/css/style.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />


	<script src="~/js/head.js"></script>
</head>
<body class="gray-bg">
    
    <div class="gray-bg dashbard-1" id="page-wrapper" style="width:100%;">

        <partial name="_Navigation" />

        @RenderBody()

        <partial name="_Footer" />

    </div>

    <script>
        window.paceOptions = { ajax: { ignoreURLs: ['mainHub', '__browserLink', 'browserLinkSignalR'], trackWebSockets: false } }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/metismenu/metismenu.min.js"></script>
	<script src="~/lib/pace/pace.min.js"></script>
	<script src="~/lib/lucide/lucide.min.js"></script>

	<script src="~/js/inspinia.js"></script>

	<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<script src="~/lib/virtual-select/js/virtual-select.min.js"></script>

    <script>
        function adjustContentPadding() {
            const footer = document.getElementById("main-footer");
            const content = document.getElementById("page-wrapper");

            if (footer && content) {
                const footerHeight = footer.offsetHeight;
                content.style.paddingBottom = footerHeight + "px";
            }
        }

        document.addEventListener("DOMContentLoaded", adjustContentPadding);
        window.addEventListener("resize", adjustContentPadding);
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
