@model ForgotPasswordDto


@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Reset Password";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Reset password</h2>

                <p>
                    Provide the email address associated with your account to recover your password.
                </p>

                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="col-lg-12 alert alert-danger"></div>
                    <div class="col-lg-12">
                        <form class="m-t" role="form" method="post" asp-controller="Auth" asp-action="ForgotPassword">
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email address">
                            </div>

                            <button type="submit" class="btn btn-primary d-block full-width mb-2">Reset Password</button>

                        </form>
                    </div>
                </div>

                <hr />

                <div class="text-end">
                    <a asp-controller="Auth" asp-action="Login" class="me-1">Login</a>
                    <a asp-controller="Auth" asp-action="Register" class="me-1">Register</a>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                <small>
                    <strong>©</strong> @DateTime.Now.Year <a asp-controller="Home" asp-action="Index" target="_blank">Evenda</a>
                </small>
            </p>
        </div>
    </div>
</div>