@model RegisterDto

@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Register";
}

<div class="middle-box text-center loginscreen animated fadeInDown" style="width: 370px;">
    <div>
        <div class="mb-4">
            <a href="index.html">
                <img alt="image" class="img-fluid logo-black mx-auto" src="~/img/logo-black.png">
                <img alt="image" class="img-fluid logo-white mx-auto" src="~/img/logo-white.png">
            </a>
        </div>
        <h3>Register to EVENDA</h3>
        <p>Plan smart. Book fast. Experience events the Evenda way!!!</p>

        <form class="m-t" role="form" method="post" asp-action="Register">
            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group d-inline-flex" style="gap:.5rem;">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
            </div>

            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                @if (ViewData.ModelState["Password"]?.Errors.Count > 0)
                {
                    var errors = ViewData.ModelState["Password"].Errors[0].ErrorMessage.Split("|||");
                    if (errors?.Length > 1)
                    {
                        <ul class="text-danger text-start mb-1">
                            @foreach (var err in errors)
                            {
                                <li>@err</li>
                            }
                        </ul>
                    }
                }
            </div>

            <div class="form-group">
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span class="text-danger d-blcok text-start" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="btn btn-primary d-block w-100 mb-2">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <div class="d-grid">
                <a class="btn btn-sm btn-white btn-block" asp-action="Login">Login</a>
            </div>
        </form>
    </div>
</div>
